.block {
	width: 100%;
	transition: none;
	position: relative;
	float: left;
	@include fadeIn;
	@include sm {
		padding-bottom: 70%;
		&.sm-width, &.md-width, &.lg-width {
			width: 50%;
		}
	}
	@include md {
		padding-bottom: 50%;
	}
	@include lg {
		padding-bottom: 30%;
		&.sm-width {
			width: 25%;
		}
		&.md-width {
			width: 50%;
		}
		&.lg-width {
			width: 50%;
		}
		&.sm-height {
			padding-bottom: 25%;
		}
		&.md-height {
			padding-bottom: 30%;
		}
	}
	@include xl {
		&.sm-width {
			width: 20%;
		}
		&.md-width {
			width: 40%;
		}
		&.lg-width {
			width: 80%;
		}
		&.sm-height {
			padding-bottom: 20%;
		}
	}
	// &.md-height {
	// 	padding-bottom: 30%;	
	// }
	// &.lg-height {
	// 	padding-bottom: 40%;
	// }
	&.hide {
		display: none;
	}
	&.grid-sizer {
		padding-bottom: 0 !important;
	}
	p {
		margin: 0;
	}
	p:not(:last-of-type) {
		margin: 0 0 1rem 0;
	}

	.category {
		font-family: $mono;
		font-size: 15px;
	}

	.image-left, .image-right, {
		height: 100%;
		background-size: 40% auto;
		background-repeat: no-repeat;
		background-position: right center;
		.text {
			width: 60%;
		}
	}
	.image-background {
		height: 100%;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	.image {
		width: 79%;
		img {
			width: 100%;
	    display: table;
		}
	}

	&.feature, &.sidebar {
		.read-link {
			margin-top: .5rem;
			font-family: $sans-serif;
			font-size: 20px;
			text-decoration: underline;
		}
	}
	&.feature {
		.title {
			font-size: 40px;
			line-height: 50px;
			font-family: $serif;
			font-weight: bold;
		}
	}
	&.sidebar {
		.title {
			font-size: 24px;
			line-height: 30px;
			font-family: $sans-serif;
			font-weight: bold;
		}
	}
	&.timeline {
		color: $lightest;
		.block-inner {
			background: $darkest;
		}
		.date {
			margin-top: 1rem;
			font-family: $serif;
			font-size: 24px;
			font-weight: bold;
		}
		.title {
			margin-top: .5rem;
			font-family: $sans-serif;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
		}
	}
	&.quotes {
		.body {
			font-size: 28px;
			line-height: 40px;
			font-family: $serif;
		}
		.quote-by {
			margin-top: .5rem;
			font-size: 16px;
			font-family: $sans-serif;
			font-weight: bold;
		}
	}
	&.staff-stats, &.fdo-stats, {
		.block-inner {
			background: $yellow;
		}
		.title {
			font-size: 78px;
			line-height: 85px;
			font-family: $serif;
		}
		.body {
			font-size: 16px;
			line-height: 20px;
			font-family: $sans-serif;
			font-weight: bold;
		}
	}
}
.block-inner {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	display: table;
	margin: 1rem;
	padding: 1rem;
	border: 1px solid transparent;
	-webkit-hyphenate-character: '';
	@include sm {
		min-height: unset;
		margin: 0;
		display: block;
		position: absolute;
		left: 1rem;
		top: 1rem;
	}
	.white & {
		background: $lightest;
	}
	.black & {
		background: $darkest;
		color: $lightest;
	}
	.yellow & {
		background: $yellow;
	}
	.border-black & {
		border-color: $darkest;
	}
	.border-yellow & {
		border-color: $yellow;
	}
	.border-dashed & {
		border-style: dashed;
	}
	.border-dotted & {
		border-style: dotted;
	}
	.border-double & {
		border-style: double;
		border-width: 3px;
	}
	.image & {
		padding: 0;
		border-width: 0;
	}
	.month-label & {
		@include mdText;
		font-family: $sans-serif;
		font-weight: bold;
	}
}
.block-title {
	font-weight: bold;
	.small & {
		@include smText;
	}
	.medium & {
		@include mdText;
	}
	.large & {
		@include lgText;
	}
}
.block-sub-1 {
	margin-top: .5rem;
	@include smText;
	font-weight: bold;
}
.block-sub-2 {
	margin-top: .5rem;
	@include xsText;
	font-weight: bold;
}

.has-small-font-size {
	@include xsText;
}
.has-normal-font-size {
	@include smText;
}
.has-medium-font-size {
	@include mdText;
}
.has-large-font-size {
	@include lgText;
}
.has-huge-font-size {
	@include xlText;
}

.wp-block-image {
	margin: 0;
	* {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
	}
	.alignright {
		width: 30%;
	}
}

#cat-block {
	font-family: $mono;
	.block-inner {
		padding: 0 0 5rem 1.5rem;
	}
	.back-button {
		position: absolute;
		left: 0rem;
		top: .15rem;
	}
}