header#header {
	background: white;
	margin: 0 0 2rem 0;
	display: table;
	@include sm {
		display: block;
		margin: 0 -1rem 2rem -1rem;
	}
	@include md {
		height: 10rem;
		margin-bottom: 4rem;
	}
}
#site-header {
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	@include md {
		width: 40%;
		margin-bottom: 0;
		float: left;
	}
	@include lg {
		width: 33.33%;
	}
}
#site-title {
	margin-bottom: 1rem;
	@include xlText;
	// @include xs {
	// 	@include lgText;
	// 	max-width: 12rem;
	// }
}
#site-tagline {
	width: 100%;
	@include smText;
	.candid-logo {
		font-family: $candid;
	}
	// @include lg {
		// width: 50%;
	// }
}
#block-filters {
	width: 100%;
	padding: 1rem 0;
	display: table;
	font-family: $sans-serif;
	user-select: none;
	float: right;
	@include md {
		width: 50%;
	}
	@include lg {
		width: 33.33%;
	}
	@include xl {
		width: 25%;
	}
	form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	  @include md {
	  	margin: 0;
	  	float: right;
	  }
	}
	.block-filter {
		width: 50%;
		padding: 0 1rem .5rem 1rem;
	}
	label {
		// float: right;
	}
	label:hover {
		cursor: pointer;
	}
	label::before {
		content: '';
		width: 1rem;
		height: 1rem;
		display: inline-block;
		margin: 0 .5rem -.15rem 0;
		border: 1px solid $darkest;
	}
	input[type="checkbox"]:checked + label::before {
		background: url(./../../images/check.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	}
	input[type="checkbox"] {
		position: absolute;
		left: -99999px;
	}
	body.article-open & {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}
