html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $serif;
	text-rendering: optimizeLegibility;
}
html[lang="en-US"] {
	margin-top: 0 !important;
	padding-top: 32px;
}
html {
	font-size: 18px;
}
body {
	@include smText;
}
* {
	&::before, &::after, & {
		box-sizing: border-box;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;
}
h1 {
	@include lgText;
}
h2 {
	@include mdText;
}
h3 {
	@include smText;
}

strong {
	font-weight: 600;
}

a, a:hover, a:active, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.screen-reader-text {
	position: fixed;
	left: -99999px;
	bottom: -99999px;
}

#page {
	// max-width: 1800px;
	margin: auto;
	padding: 0;
	@include sm {
		padding: 1rem 2rem;
	}
}

main {
	margin: 1rem 0;
	@include sm {
		margin: 1rem -1rem;
	}
}

main#main-blocks {
	// opacity: 0;
	// @include fadeIn(1000ms, 2000ms);
	body.article-open & {
		display: none;
	}
}

.back-button {
	width: $button;
	height: $button;
	display: inline-block;
	border: 1px solid $darkest;
	background: url(./../../images/back.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	@include fadeIn;
	&:hover {
		cursor: pointer;
	}
}
